n8n_workflow/AI Workflow Platform MVP (1).json
{
  "name": "AI Workflow Platform MVP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c9e3fde3-ac1b-45be-a1c8-8650326ec5f6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -160,
        320
      ],
      "webhookId": "bcde2853-12fa-4676-95dd-7418758ce916"
    },
    {
      "parameters": {
        "subject": "Leave Request",
        "message": "=Chào sếp, \n\nNhân viên {{ $('Webhook').item.json.body.employeeId }} vừa gửi đơn xin nghỉ:\n- Loại: {{ $json.type }}\n- Từ ngày: {{ $json.startDate }}\n- Đến ngày: {{ $json.endDate }}\n- Lý do: {{ $json.reason }}\n\nVui lòng kiểm tra trên hệ thống.\n",
        "additionalFields": {}
      },
      "id": "7293e8da-dd6e-4278-911d-79a7034f8187",
      "name": "Notify Manager",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        256,
        480
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "3VO5Tm1m6TVpecoS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "53221e54-8309-44ee-81d0-0498c3eed84b",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "create_leave",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "749b4ec5-e163-49d7-8999-2ffc460cab76"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4e528cdc-5c53-4f6d-96a8-b659dc168502",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "create_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f4fb1c75-1ffe-49dd-8161-6d053e00536f",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "tao_don_nghi",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f261ba6a-87ba-495a-858a-fa3a03d3c9e4",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "soan_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        32,
        320
      ],
      "id": "d86eed55-573e-4aeb-a576-dda8bd42eca3",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.body.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yo9Ra9D0ncmiVmbBMDjlMamMo7MC0IqSUPjvIbHcXlo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Employee": "={{ $json.body.employee }}",
            "Start Date": "={{ $json.body.startDate }}",
            "End Date": "={{ $json.body.endDate }}",
            "Reason": "={{ $json.body.reason }}",
            "EmployeeId": "={{ $json.body.employeeId }}",
            "Days": "={{ $json.body.days }}",
            "State": "={{ $json.body.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "EmployeeId",
              "displayName": "EmployeeId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employee",
              "displayName": "Employee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start Date",
              "displayName": "Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "End Date",
              "displayName": "End Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Days",
              "displayName": "Days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        304
      ],
      "id": "cc0bbd2c-f4e0-4f18-a3a6-bb2a286c0de9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sB9GC36RviN7xXxp",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check_leave",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        64
      ],
      "id": "0121c18d-c6a3-445f-bcc5-a838173ded43",
      "name": "Webhook1",
      "webhookId": "3fbf665b-ef3a-48fc-9213-0fe7f7300464"
    },
    {
      "parameters": {
        "jsCode": "let total = 0;\n\nfor (const item of $input.all()) {\n\n  let val = parseFloat(item.json.Days || 0);\n  \n  if (!isNaN(val)) {\n    total += val;\n  }\n}\n\nreturn { usedDays: total };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        64
      ],
      "id": "bd97f9d0-15eb-427f-b0d7-ef016fe342ac",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.body.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yo9Ra9D0ncmiVmbBMDjlMamMo7MC0IqSUPjvIbHcXlo/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "EmployeeId",
              "lookupValue": "={{ $json.body.employeeId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        64
      ],
      "id": "2e2ec17b-4321-4be0-aa19-062d3f5f57c1",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sB9GC36RviN7xXxp",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Manager": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ebf04ec7-2c03-48e4-98e5-9410a6e6493a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1df266d07c6b8839c558104220f8e623f7610b96b31af434af4dabe23a8f9036"
  },
  "id": "SEfhjA0fsE8Waimw",
  "tags": []
}